// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letter {
  background-color: blueviolet;
  color: white;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
  font-weight: bold;
  width: 35px;
  text-align: center;
  margin: 0;
}